@import "components/slider";
@import "components/header";
@import "components/services";
@import "components/waxom-ideas";
@import "components/text-boxes";
@import "components/latest-project";
@import "components/video-presentation";
@import "components/mobile-devices";
@import "components/counters";
@import "components/recent-posts";
@import "components/partners";
@import "components/footer";

/*
.clearfix {
	&:after, &:before {
		content: '';
		display: block;
		clear: both;
	}
}
*/
