.partners {
	background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("/Waxom/assets/img/partners-bg.jpg");
	background-size: cover;
	background-position: center;
	padding: 140px 0;
	&__logo {
		text-align: center;
		& IMG {
			/*width: 100%;*/
		}
	}
}